body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
	margin: 0;
	font-family: "Courier New", monospace;
}

.typing-container {
	display: flex;
	align-items: center;
	font-size: 2rem;
	white-space: pre-wrap; /* 允许换行 */
	overflow: hidden;
}

/* .cursor {
	display: inline-block;
	background-color: red;
	width: 12px;
	height: 2.5rem;
	margin-left: 5px;
	border-radius: 2px;
	animation: blink 0.7s steps(2, start) infinite;
} */
#typing-text::after{
	content: '|';
	background-color: red;
	width: 12px;
	height: 2.5rem;
	margin-left: 5px;
	border-radius: 2px;
	animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}
